# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Logs
*.log

# Build
dist/
build/

# Uploaded attachments
uploads/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Coverage
coverage/
/src/generated/prisma
